{
  "laboratory_identifier": "ecpel-ansible-local-foundation",
  "schema_version": "{{ local_foundation_schema_version }}",
  "classification": "{{ local_foundation_lab_classification }}",
  "enabled": true,
  "cloud": false,
  "production": false,
  "external_workload": false
}
